* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(to bottom, #5d4210, #2b1d07);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    background-image: url('../images/backgrounds/about_us.jpg'); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(10px);
}

.error {
    color: red;
    background-color: rgb(250, 193, 193)
}

.container {
    background-color: rgba(83, 80, 80, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    margin: 20px;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.form-group i {
    position: absolute;
    left: 8px;
    top: 50px;
    color: #ffffff;
}


input[type="email"],
input[type="number"],
input[type="password"],
select {
    width: 100%;
    padding: 12px 12px 12px 40px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    font-size: 16px;
    background: transparent;
    color: #ffffff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,

select:focus {
    border-color: #ffaa00;
    outline: none;
    box-shadow: 0 0 10px rgba(254, 242, 230, 0.963);
}

button {
    width: 100%;
    padding: 12px;
    background: #ffaa00;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: rgba(254, 242, 230, 0.963);
    transform: translateY(-2px);
    color: #ffaa00;
}

.notification {
    margin-top: 20px;
    text-align: center;
    color: #ffaa00;
    font-size: 14px;
    font-style: italic;
}


/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px;
        padding: 20px;
    }
}
