/* review page */
.btn:hover {
    background-color: #4a7766 !important;
    border-color: #4a7766;
    color: #ece7e2 !important;
    /* !important is use to override the propertirs of bootstrap css */
  }
  
  .fxd {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
  
    color: #ece7e2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
  }
  
  
  .registration-link {
    margin-top: 20px;
    color: #4a7766;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  
  .registration-link:hover {
    text-decoration: underline;
  }
  
  .modal-content {
    background-color: rgba(0, 0, 0, 0.416) !important;
    backdrop-filter: blur(5px);
    color: #ffffff !important;
  }
  
  .form-control {
    background-color: transparent !important;
  }
  .hvr:hover{
  color: #ffffff !important;
  }


  /* filter css */
  .search-filter-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-input-group {
    position: relative;
}

.search-input-group input {
    padding-right: 3rem;
    border-radius: 50px;
    border: 1px solid #ced4da;
    padding: 10px 20px;
    font-size: 1.1rem;
}

.search-input-group .search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 1.5rem;
}

/* .filter-group {
    display: flex;
    gap: 10px;
    margin-top: 0px;
} */

/* .filter-group label {
    margin-right: 5px;
    font-weight: bold;
} */

/* .filter-group select {
    flex-grow: 1;
    border-radius: 50px;
    padding: 10px 20px;
    border: 1px solid #ced4da;
    font-size: 1rem;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
} */

/* .filter-group select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
} */

/* .filter-group select option {
    padding: 10px;
    font-size: 1rem;
} */
/* 
.filter-group .dropdown-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    pointer-events: none;
} */