{% load static %}

{% if blogs %}
    {% for blog in blogs %}
    <div class="content">
    <section class="post mx-3 mt-3">
        <img src="{{ blog.dish_image }}" alt="Blog Post " class="post-img">
        <div class="post-text">
            {% if 'userlevel' in request.session and request.session.userlevel == "admin" %}
            <strong>Blog ID : {{ blog.b_id }}</strong>
            {% endif %}
            <p class="post-date"><small>{{ blog.timestamp }}</small></p>
            <p class="post-title"><h3>{{ blog.dish_name|title  }}</h3></p>
            <p class="post-content">
                {{ blog.description }}
            </p>
            <p class="post-author"><strong>Author:</strong>{{ blog.username }}</p>
            <p class="post-restaurant"><strong>Restaurant:</strong> {{ blog.restaurant_name|title   }}</p>
            <p class="post-place"><strong>Place:</strong>  {{ blog.area|capfirst }} , {{ blog.city|capfirst }} , {{ blog.state|capfirst }}</p>
        
        {% if 'userlevel' in request.session and request.session.userlevel == "admin" %}
        <div class="row ">
            <form action="{% url 'delete_blog_by_admin' blog.b_id %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
        {% endif %}
    </div>
    </section>
</div>
            <!-- <div class="blog-content">
                <div class="card post">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5 text-center">
                                <img src="{{ blog.dish_image }}" height="300px" width="300px" alt="">
                            </div>
                            <div class="col-5">
                                <h2>{{ blog.dish_name|title  }}</h2>
                                <h4>Restaurant : {{ blog.restaurant_name|title   }}</h4>
                                <h5>At : {{ blog.area|capfirst }} , {{ blog.city|capfirst }} , {{ blog.state|capfirst }}</h5>
                                <h5>by : <i>{{ blog.username }}</i></h5>
                                <small>{{ blog.timestamp }}</small>
                            </div>
                            <div class="col-2">
                                {% if 'userlevel' in request.session and request.session.userlevel == "admin" %}
                                <div class="row ">
                                    <form action="{% url 'delete_blog_by_admin' blog.b_id %}" method="POST">
                                        {% csrf_token %}
                                        <input class="btn btn-danger" type="submit" value="Delete">
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{ blog.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        
    {% endfor %}
    {% else %}
        <p class="card mt-5 text-center text-bg" style=" background-color:rgba(255, 249, 243, 0.909);">No Blogs found.</p>
{% endif %}