<div class="container-fluid shadow mb-0 sticky-top" style="background-color: #2d3436;">
<nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="#" style="color: white">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 " style="margin-left:40%;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="padding:8px 15px; color: white; --hover-color: #16a085">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% if 'username' in request.session %}{% url 'about_us' %}{% else %}#about_us_home{% endif %}" style="padding:8px 15px;color: white;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% if 'username' in request.session %}{% url 'review' %}{% else %}#review_home{% endif %}" style="padding:8px 15px; color: white;">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% if 'username' in request.session %}{% url 'blog' %}{% else %}#blog_home{% endif %}" style="padding:8px 15px; color: white;">Blog</a>
          </li>
        </ul>
        <!-- search -->
        {% if 'username' in request.session %}
        <!-- <form class="d-flex input-group w-25">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning"
            type="submit"><i class="bi bi-search m-auto"></i></button>
        </form> -->
        {% endif %}
      </div>

      <!-- login -->
      <div class="mx-2">
        {% if 'username' in request.session %}
          <div >
          <a href="{% url 'user_profile' %}"><button type="button" class="btn btn-outline-info"><i class="bi bi-person-circle"></i></button></a>
          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu ">
            <li><p>Hello, {{ request.session.username }}</p></li>
            <li><hr class="dropdown-divider"></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </div>
        {% else %}
          <a class="btn btn-primary btn1 ms-2" href="{% url 'login' %}" style="margin-right:1%;background:#ffaa00;border: none;">
            Login
          </a>
        {% endif %}
      </div>
      
      </div>
    </nav>
  </div>
