<div class="container-fluid shadow mb-0 sticky-top " data-bs-theme="dark" style="background-color: #2d3436; color:#ece7e2 ;">
<nav class="navbar navbar-expand-lg ">
      <a class="navbar-brand" href="#" style="color: white">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 " style="margin-left:40%;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="padding:8px 15px; color: white; --hover-color: #16a085">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'about_us' %}" style="padding:8px 15px;color: white;">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'review' %}" style="padding:8px 15px; color: white;">Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blog' %}" style="padding:8px 15px; color: white;">Blog</a>
          </li>
        </ul>
      </div>

      <!-- login -->
      <div class="mx-2">
        {% if 'username' in request.session %}
          <div class="dropdown">
          <a href="{% url 'user_profile' %}"><button type="button" class="btn btn-primary bn1" style="border-width: 1px;border-color:#4a7766; background: #4a7766;color: #ece7e2"><i class="bi bi-person-circle"></i></button></a>
          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="border-width: 1px;border-color:#4a7766; background: #4a7766;color: #ece7e2">
            <!-- <span class="visually-hidden">Toggle Dropdown</span> -->
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><p  class="dropdown-iteam">Hello, {{ request.session.username }}</p></li>
            <li><hr class="dropdown-divider"></li>
            <li>
            <!-- my blog/review -->
            {% if request.session.userlevel != "admin" %}
              {% if request.session.userlevel == "critic" %}
                  <a href="{% url 'my_blog' %}" class="dropdown-item">My Blog</a>
                  <li><hr class="dropdown-divider"></li>
              {% endif %}
              {% if request.session.userlevel == "user" %}
                  <a href="{% url 'my_review' %}" class="dropdown-item">My Review</a>
                  <li><hr class="dropdown-divider"></li>
              {% endif %}
            {% endif %}
            </li>
            
            <li ><a href="{% url 'logout' %}" class="dropdown-item">Logout</a></li>
          </ul>
        </div>
        {% else %}
          <a class="btn btn-primary btn1 ms-2" href="{% url 'login' %}" style="border-width: 1px;border-color:#4a7766; background: #4a7766;color: #ece7e2">
            Login
          </a>
        {% endif %}
      </div>
      
      </div>
    </nav>
  </div>
