{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
   
</head>

<body style=" min-height: 100%; ;background-image: linear-gradient(to bottom , #7da88e, #72a585, #619672, #6ea97f, #7cbd8c, #88c795, #94d09d, #a0daa6, #acdcae, #b7deb6, #c2e0be, #cce2c7);     ; position: relative;">
    <!-- navigation -->
    {% include 'navbar.html' %}

    <div class="container-fluid">
        <!-- user card -->
        <div class="card m-3" style="padding: 1%;">
            <div class="row g-0">
                <div class="col-sm-2">
                    <div class="profile-image">
                        {{ request.session.username|capfirst|first }}
                    </div>
                </div>
                <div class="col-sm-10  ">
                    <div class="card-body m-auto">
                    <h4 class="card-title">{{ request.session.username|capfirst  }}</h4>
                    <p class="card-text">{{ request.session.userlevel }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- profile option -->
        <div class="card m-3">
            <div class="list-group">
                {% if request.session.userlevel == "admin" %}
                    <a  href="{% url 'critic_request' %}"  class="list-group-item list-group-item-action">Critic Request</a>
                    <a  href="{% url 'user_list' %}"  class="list-group-item list-group-item-action">Users List</a>
                {% endif %}
            
                <!-- update user details -->
                    <a href="#updateuserdetails" class="list-group-item list-group-item-action" data-bs-toggle="collapse">Update Personal Details</a>
                    <!-- user details form -->
                    <section class="container sbmt collapse " id="updateuserdetails">
                        <form id="userdetailForm" action="{% url 'update_userdetails' %}" method="post">
                            {% csrf_token %}
                                <!-- <div class="mb-3">
                                    <label for="blogTitle" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username">
                                    <span id="usernameError" class="error text-danger"></span>
                                </div> -->
                                <div class="mb-3">
                                    <label for="blogTitle" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
                                    <span id="emailError" class="error text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="blogTitle" class="form-label">Area</label>
                                    <input type="text" class="form-control" id="area" name="area" value="{{ user.area }}">
                                    <span id="areaError" class="error text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="blogTitle" class="form-label">City</label>
                                    <input type="text" class="form-control" id="city" name="city" value="{{ user.city }}">
                                    <span id="cityError" class="error text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="blogTitle" class="form-label">State</label>
                                    <input type="text" class="form-control" id="state" name="state" value="{{ user.state }}">
                                    <span id="stateError" class="error text-danger"></span>
                                </div>
                            <button type="button" class="btn btn-primary" onclick="validateuserdetailForm()">UPDATE</button>
                        </form>
                    </section>
                
                <!-- my blog/review -->
                {% if request.session.userlevel != "admin" %}
                    {% if request.session.userlevel == "critic" %}
                        <a href="{% url 'my_blog' %}" class="list-group-item list-group-item-action">My Blog</a>
                    {% endif %}
                    {% if request.session.userlevel == "user" %}
                        <a href="{% url 'my_review' %}" class="list-group-item list-group-item-action">My Review</a>
                    {% endif %}
                {% endif %}

                <!-- change password -->
                <a href="#changepassword" class="list-group-item list-group-item-action" data-bs-toggle="collapse">Change Password</a>
                <section class="container sbmt collapse " id="changepassword">
                    <form id="changepasswordForm" action="{% url 'update_userdpassword' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden"  id="password" name="password" value="{{ user.password }}">
                        <div class="mb-3">
                            <label for="blogTitle" class="form-label">Current Password</label>
                            <input type="text" class="form-control" id="currentpassword" name="currentpassword" >
                            <span id="currentpasswordError" class="error text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="blogTitle" class="form-label">New Password</label>
                            <input type="text" class="form-control" id="newpassword" name="newpassword">
                            <span id="newpasswordError" class="error text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="blogTitle" class="form-label">Confirm Password</label>
                            <input type="text" class="form-control" id="confirmpassword" name="currentpassword">
                            <span id="confirmpasswordError" class="error text-danger"></span>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="validatechangepasswordForm()">changepassword</button>
                    </form>
                </section>
                
                <!-- logout -->
                <a  href="{% url 'logout' %}" class="list-group-item list-group-item-action list-group-item-warning">Logout</a>
                
            </div>
        </div>

        <!-- delete account option -->
        <div class="card m-3">
            <!-- delete account -->
            <form action="{% url 'delete_user_account' %}" method="post" >
                {% csrf_token %}
                <button type="submit" class="btn btn-danger w-100">Delete Account</button>
            </form>
        </div>
    </div>

    <!-- footer -->
    {% include 'footer.html' %}
 
</body>

<script>
    function validateuserdetailForm() {
        // Clear previous errors
        document.getElementById('emailError').innerText = '';
        document.getElementById('areaError').innerText = '';
        document.getElementById('cityError').innerText = '';
        document.getElementById('stateError').innerText = '';

        // Get form values
        var email = document.getElementById('email').value.trim();
        var area = document.getElementById('area').value.trim();
        var city = document.getElementById('city').value.trim();
        var state = document.getElementById('state').value.trim();

        var isValid = true;

        var emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        if (!emailPattern.test(email)) {
            document.getElementById('emailError').innerText = 'Invalid email format.';
            isValid = false;
        }
        if (area.length < 2) {
            document.getElementById('areaError').innerText = 'Area must be at least 2 characters long.';
            isValid = false;
        }
        if (city.length < 2) {
            document.getElementById('cityError').innerText = 'City must be at least 2 characters long.';
            isValid = false;
        }
        if (state.length < 2) {
            document.getElementById('stateError').innerText = 'State must be at least 2 characters long.';
            isValid = false;
        }


        // If all validations pass, submit the form
        if (isValid) {
            document.getElementById('userdetailForm').submit();
        }
    }

    function validatechangepasswordForm(){
        // Clear previous errors
        document.getElementById('currentpasswordError').innerText = '';
        document.getElementById('newpasswordError').innerText = '';
        document.getElementById('confirmpasswordError').innerText = '';

        // Get form values
        var currentpassword = document.getElementById('currentpassword').value.trim();
        var newpassword = document.getElementById('newpassword').value.trim();
        var confirmpassword = document.getElementById('confirmpassword').value.trim();
        var password = document.getElementById('password').value.trim();
    
        var isValid = true;

        if (currentpassword == "" ) {
            document.getElementById('currentpasswordError').innerText = 'CurrentPassword can not be null';
            isValid = false;
        }
        else if (currentpassword != password ) {
            document.getElementById('currentpasswordError').innerText = 'Invalid Password';
            isValid = false;
        }

    
         // Password validation (min 8 characters, at least one digit and one special character)
        if (newpassword.length < 8) {
            document.getElementById('newpasswordError').innerText = 'Password must be at least 8 characters long.';
            isValid = false;
        }
        else if (!/\d/.test(newpassword)) {
            document.getElementById('newpasswordError').innerText = 'Password must contain at least one digit.';
            isValid = false;
        }
        else if (!/[!@#$%^&*(),.?":{}|<>]/.test(newpassword)) {
            document.getElementById('newpasswordError').innerText = 'Password must contain at least one special character.';
            isValid = false;
        }
        else if(password == newpassword)
        {
            document.getElementById('newpasswordError').innerText = 'Password can not be same as previous password.';
            isValid = false;
        }

        if(confirmpassword == ""){
            document.getElementById('confirmpasswordError').innerText = 'ConfirmPassword can not be null';
            isValid = false;
        }
        else if(newpassword != confirmpassword){
            document.getElementById('confirmpasswordError').innerText = 'NewPasswords and ConfirmPassword must br same.';
            isValid = false;
        }

        // If all validations pass, submit the form
        if (isValid) {
            document.getElementById('changepasswordForm').submit();
        }
    }
</script>

</html>